<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>入力画面</title>
</head>
<body>
	<form
		th:action="@{/confirm}"
		method="post">
		<div>
			<label for="name">Name:</label> <input
				type="text"
				name="name">
		</div>
		<div>
			<label for="age">Age:</label> <input
				type="text"
				name="age"
				min="1"
				max="100">
		</div>
		<div>
			<label for="birth">生年月日:</label> <input
				type="date"
				name="birth">
		</div>
		<input
			type="submit"
			value="送信">
	</form>
</body>
</html>